@*----------------------------------------------------------
DAVID SAUNTSON

ENERGY MANAGER WEB APPLICATION
HANDWRITTEN
VIEW FILE (.cshtml)

Error
----------------------------------------------------------*@

    <div class="smiley-giant">
        :-/
    </div>
    <div class="errormsg">
        <span class="errorhighlight">&nbsp; There been an error whilst trying to connect to our servers. &nbsp;</span> <br />
        Please try again.
    </div>