@*----------------------------------------------------------
DAVID SAUNTSON

ENERGY MANAGER WEB APPLICATION
HANDWRITTEN
VIEW FILE (.cshtml)

Home
----------------------------------------------------------*@

@model emAPI.ClassLibrary.User


<div>
    <h2>Welcome to the Energy Management System</h2>
    <p>
        An online tool to help you to manage your energy consumption and costs at home.
    </p>
</div>


<div class="log-on">
    <p>
        @Html.ActionLink("Login", "LogOn", "Account", null, new { @class = "button-like" })
    </p>
    
</div>

<p>
    
</p>
