@*----------------------------------------------------------
DAVID SAUNTSON

ENERGY MANAGER WEB APPLICATION
HANDWRITTEN
VIEW FILE (.cshtml)

Property/Edit
----------------------------------------------------------*@

@model emAPI.ClassLibrary.Property


@using (Html.BeginForm()) {
    
    <div style="background: #F1CCCC; padding:30px;">
           <div style="display: inline-block; vertical-align:middle;">
            <input type="submit" value="Delete" style="background: #F9523B"/>  
        </div>
        <div style="display:inline-block; vertical-align: middle; padding-left: 25px;">
            <span style="font-weight: bold">Are you sure you want to delete this property?</span> <br />
            All assoicated meters, bills and tariffs will be gone forever.
        </div>
            @Html.HiddenFor(model => model.Id)
    </div>
  }

  <p style="padding-left: 30px;">
        @Html.ActionLink("Cancel", "Home", "Property", new { id = Model.Id}, null)
  </p>
